<div class='unsupported_browser'>
  <h1><%= I18n.t("active_admin.unsupported_browser.headline").html_safe %></h1>
  <p><%= I18n.t("active_admin.unsupported_browser.recommendation").html_safe %></p>
  <p><%= I18n.t("active_admin.unsupported_browser.turn_off_compatibility_view").html_safe %></p>
</div>
